{% extends 'base.html' %}
{% block logout_ %}
<a href="/logout"><button class="btn btn-sm btn-danger rounded-pill"><i class="fa fa-sign-out-alt"></i>  Logout</button></a>
{% endblock %}
{% block content_ %}
<div class="container py-3">
    <div class="row">
        <div class="col col-lg-3 col-md-12 col-sm-12 mb-5">
            <div class="card card-primary">
                <div class="card-header">
                <div class="card-title mb-0">
                Formulir
                </div>
                </div>
                <div class="card-body">
                <form action="/add" method="post">
                    <div class="form-group">
                        <label for="nama">Nama</label>
                        <input type="text" class="form-control form-control-sm" name="nama" id="nama" value="">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control form-control-sm" name="email" id="email" value="">
                    </div>
                    <div class="form-group">
                        <label for="nilai">Nilai</label>
                        <input type="number" class="form-control form-control-sm" name="nilai" id="nilai" value="">
                    </div>
                    <div class="form-group">
                        <label for="foto">Foto</label>
                        <input type="text" class="form-control form-control-sm" name="foto" id="foto">
                    </div>
                    <div class="form-group">
                        <label for="alamat">Alamat</label>
                        <input type="text" class="form-control form-control-sm" name="alamat" id="alamat" value="">
                    </div>
                    <div class="form-group">
                        <label for="no_hp">HP</label>
                        <input type="text" class="form-control form-control-sm" name="no_hp" id="no_hp" value="">
                    </div>
                    
                    <button type="submit" class="btn btn-primary float-right rounded-pill">Submit</button>
                </form>
                </div>
            </div>
        </div>
        <div class="col col-lg-9 col-md-12 col-sm-12">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="card-title mb-0">Daftar Mahasiswa</div>
                    </div>
                <div class="card-body table-responsive px-0">
                <table class="table table-bordered table-sm table-striped text-nowrap">
                <tr class="text-center">
                    <th>No</th>
                    <th>Nama</th>
                    <th>Foto</th>
                    <th>Nilai</th>
                    <th>Predikat</th>
                    <th>Ket</th>
                    <th>Aksi</th>
                </tr>
                {% for d in mhs %}
                <tr>
                    <td class="text-center">{{loop.index}}</td>
                    <td><a href="/detail/{{d['id']}}">{{d["nama"]}}</a></td>
                    <td class="text-center">{{d["nilai"]}}</td>
                    <td class="text-center"><img src="{{d["foto"]}}" width="30px"></td>
                    
                    {% if d['nilai']>=90 :%}
                    <td class="text-center">A</td>
                    {% elif d['nilai']>=80 :%}
                    <td class="text-center">B</td>
                    {% elif d['nilai']>=70 :%}
                    <td class="text-center">C</td>
                    {% else :%}
                    <td class="text-center text-danger">D</td>
                    {% endif %}
                    
                    {% if d['nilai']>60 :%}
                    <td class="text-center"><span class="badge badge-success rounded-pill">Lulus</span></td>
                    {% else :%}
                    <td class="text-center"><span class="badge badge-danger rounded-pill">Belum Lulus</span></td>
                    {% endif %}
                    
                    
                    <td class="text-center">
                        <button class="btn btn-sm btn-info rounded-pill" data-toggle="modal" data-target="#exampleModal{{d['id']}}"><i class="fa fa-eye"></i>  View</button>
                        <a href="/edit/{{d['id']}}"><button class="btn btn-sm btn-primary rounded-pill"><i class="fa fa-edit"></i>  Edit</button></a>
                        <a href="/delete/{{d['id']}}"><button class="btn btn-sm btn-danger rounded-pill"><i class="fa fa-trash"></i>  Delete</button></a>
                    </td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{d['id']}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Detail Mahasiswa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-align: center;">
                        <img src="{{ d["foto"] }}" alt="">
                            <h2 class="text-justify">{{d["nama"]}}</h2>
                            {% if d['nilai']>60 :%}
                            <p class="text-success">Lulus</p>
                            {% else :%}
                            <p class="text-danger">Belum Lulus</p>
                            {% endif %}

                            <h6>No HP: {{d["no_hp"]}}</h6>
                            <h6>Email: {{d["email"]}}</h6>
                            <h6>Alamat: {{d["alamat"]}}</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
                </div>
                {% endfor %}
                
                </table>
                </div>
            </div>
            <ol>

               
            <ol>
        </div>
    </div>
</div>

{% endblock %}